.recipe-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.recipe-card {
  width: 250px;
  height: 410px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.recipe-img {
  width: 230px;
  min-height: 200px;
  max-height: 200px;
  align-self: center;
  margin-top: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.recipe-name {
  font-family: "Times New Roman", Times, serif;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
  gap: 0;
}
.recipe-cuisine {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0;
}

.recipe-ingredients {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 0;
}

.recipe-ingredients div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.recipe-instructions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.delete-btn {
  width: 100px;
  align-self: center;
}
